<section class="hide" id="contacto">
  <h2>Contacto</h2>
  <p class="sub-title">Dejame tu mensaje completando este formulario y te responderé a la brevedad</p>
  <main class="contenido_contacto">
    <div class="formulario">
      <form action="https://formspree.io/martingoiriz@gmail.com" method="post">
        <!-- action="envio.php" method="post" -->
        <input type="text" name="name" id="nombre" placeholder="Nombre">
        <input type="email" name="_replyto" id="email" placeholder="Mail">
        <textarea cols="5" rows="5" maxlength="500" id="mensaje" name="message" placeholder="Mensaje"></textarea>
        <!-- <button type="button" name="button" >Enviar</button> -->
        <input type="submit" id="send" class="send" value="Enviar">
      </form>
    </div>
  </main>
</section>