<section class="hide" id="contacto">
  <h2>Contacto</h2>
  <p class="sub-title">Dejame tu mensaje completando este formulario y te responderé a la brevedad</p>
  <main class="contenido_contacto">
    <div class="formulario">
      <form>
        <input [(ngModel)]="dataForm.name" type="text" name="name" id="nombre" placeholder="Nombre">
        <input [(ngModel)]="dataForm.email" type="email" name="_replyto" id="email" placeholder="Mail">
        <textarea [(ngModel)]="dataForm.msg" cols="5" rows="5" maxlength="500" id="mensaje" name="message"
          placeholder="Mensaje"></textarea>
        <input (click)="send()" id="send" class="send" value="Enviar">
      </form>
    </div>
  </main>
</section>