<section id="home">
    <ul class="col-izquierda">
        <li>
            <a href="https://github.com/martingoiriz" target="new window" mat-raised-button matTooltip="GitHub"
                matTooltipClass="tooltip-class" [matTooltipPosition]="'right'" aria-label="tooltip">
                <span style="text-shadow: 2px 2px 50px grey;" class="ion-icon ion-logo-github"></span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/martin-goiriz" target="new window" matTooltip="LinkedIn"
                matTooltipClass="tooltip-class" [matTooltipPosition]="'right'" aria-label="tooltip">
                <span style="text-shadow: 2px 2px 50px grey;" class="ion-icon ion-logo-linkedin"></span>
            </a>
        </li>
        <li style="cursor: pointer;">
            <a matTooltip="martingoiriz@gmail.com" matTooltipClass="tooltip-class" [matTooltipPosition]="'right'"
                aria-label="martingoiriz@gmail.com">
                <span style="text-shadow: 2px 2px 50px grey;" id="icon-mail" class="ion-icon ion-md-mail"></span>
            </a>
        </li>
    </ul>
    <div class="firstContent">
        <h1 class="name">Martín Goiriz</h1>
        <h2>Front-End Developer</h2>
    </div>

</section>
<!-- <router-outlet #outlet="outlet"></router-outlet> -->