<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--  <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="goToHome()">
          <a [ngClass]="{'active': selectedItem == 1}" data-target=".navbar-collapse.show" data-toggle="collapse"
            (click)="goToHome()" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active': selectedItem == 2}" data-target=".navbar-collapse.show" data-toggle="collapse"
            (click)="goToAbout()" class="nav-link" id="goToAbout">Sobre
            mí</a>
        </li>
        <li class="nav-item">
          <a data-target=".navbar-collapse.show" data-toggle="collapse" (click)="goToBlog()" class="nav-link"
            id="goToBlog">Blog</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active': selectedItem == 3}" data-target=".navbar-collapse.show" data-toggle="collapse"
            (click)="goToContacto()" class="nav-link" id="goToContacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>