<!-- <app-header></app-header> -->

<!-- <section class="about"> -->

<!-- <section id="about"> -->

<div class="container-fluid main-container">

  <div class="row" id="main-row-about">

    <div class="col-xl-7 col-lg-6" id="left-col-about">

      <div class="container-fluid left-container">

        <div class="row estudios">

          <div class="col-12">
            <h2>Estudios</h2>
          </div>

          <div class="col-lg-4 degree">
            <h3>Programación Informática</h3>
            <p>Instituto Técnico Superior - TECLAB</p>
          </div>

          <div class="col-lg-4 degree">
            <h3>Programador web JS</h3>
            <p>Coderhouse</p>
            <a href="http://bit.ly/2JZk54E" target="new window" class="certificate">Certificado online
            </a>
          </div>

          <div class="col-lg-4 degree">
            <h3>Diseñador web</h3>
            <p>Coderhouse</p>
            <a href="http://bit.ly/2IwABNE" target="new window" class="certificate">Certificado online
            </a>
          </div>

          <div class="col-lg-4 degree">
            <h3>Google Analytics</h3>
            <p>Coderhouse</p>
            <a href="http://bit.ly/2IwzVb4" target="new window" class="certificate">Certificado online
            </a>
          </div>

          <!-- <div class="col-lg-4 degree">
            <h3>Google Adwords</h3>
            <p>Educación IT</p>
            <a href="http://bit.ly/2KCgeLq" target="new window" class="certificate">Certificado online
            </a>
          </div> -->

          <div class="col-lg-4 degree">
            <h3>Carrera en Comunicación</h3>
            <p>Universidad Nacional de La Plata</p>
          </div>

        </div>

        <div class="row skills">

          <div class="col-12">
            <h2>Skills</h2>
          </div>

          <div mat-raised-button matTooltip="HTML5" matTooltipClass="tooltip-class" [matTooltipPosition]="'above'"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/005-html-5.png" alt="HTML5">
          </div>

          <div mat-raised-button matTooltip="CSS3" matTooltipClass="tooltip-class" [matTooltipPosition]="'above'"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/006-css-3.png" alt="CSS3">
          </div>

          <div mat-raised-button matTooltip="Bootstrap" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/icon-bootstrap.png" alt="Bootstrap" data-placement="top" title="Bootstrap">
          </div>

          <div mat-raised-button matTooltip="Sass" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/008-sass.png" alt="Sass" data-placement="right" title="Sass">
          </div>

          <div mat-raised-button matTooltip="JavaScript" matTooltipClass="tooltip-class" [matTooltipPosition]="'above'"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/007-javascript.png" alt="JavaScript" data-placement="left" title="JavaScript">
          </div>

          <div mat-raised-button matTooltip="TypeScript" matTooltipClass="tooltip-class" [matTooltipPosition]="'above'"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/013-typescript.png" alt="TypeScript" title="Photoshop">
          </div>

          <div mat-raised-button matTooltip="JQuery" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/007,2-jquery.png" alt="Jquery" data-placement="right" title="Jquery">
          </div>

          <div mat-raised-button matTooltip="Angular+2" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <span data-placement="right" title="Angular" class="angular ion-logo-angular">
            </span>
          </div>

          <div mat-raised-button matTooltip="Ionic" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <span data-placement="right" title="Ionic" class="ionic ion-logo-ionic">
            </span>
          </div>

          <div mat-raised-button matTooltip="ReactJS/React Native" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/014-react.png" alt="React" data-placement="right" title="React">
          </div>

          <div mat-raised-button matTooltip="NodeJS" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/015-node.png" alt="NodeJS" data-placement="right" title="NodeJS">
          </div>

          <div mat-raised-button matTooltip="PHP" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/001-php.png" alt="PHP" data-placement="right" title="PHP">
          </div>

          <div mat-raised-button matTooltip="MySQL" matTooltipClass="tooltip-class" [matTooltipPosition]="rightTooltip"
            aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/002-mysql.png" alt="MySQL" data-placement="right" title="MySQL">
          </div>

          <!-- <div mat-raised-button matTooltip="Google Adwords" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/ad.png" alt="Google Adwords" data-placement="right" title="Google Adwords">
          </div> -->

          <div mat-raised-button matTooltip="Google Analytics" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/009-google-analytics.png" alt="Google Analytics" data-placement="right"
              title="Google Analytics">
          </div>

          <!-- <div mat-raised-button matTooltip="Adobe Premiere" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/001-premiere.png" alt="Premiere" data-placement="left" title="Premiere">
          </div> -->

          <div mat-raised-button matTooltip="Adobe Ilustrator" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/002-illustrator.png" alt="Ilustrator" data-placement="bottom"
              title="Ilustrator">
          </div>

          <div mat-raised-button matTooltip="Adobe Photoshop" matTooltipClass="tooltip-class"
            [matTooltipPosition]="rightTooltip" aria-label="tooltip" class="col-2 skills-img">
            <img src="assets/icons/skills/003-photoshop.png" alt="Photoshop" data-placement="bottom" title="Photoshop">
          </div>



        </div>
      </div>
    </div>
    <!-- ********* COLUMNA DERECHA ***************** -->
    <div class="col-xl-5 col-lg-6" id="right-col-about">

      <div class="container-fluid right-container">

        <div class="row">


          <div class="col-12">
            <h2>Sobre mí</h2>
          </div>


          <div class="col-12 texto">
            <p>Soy Desarrollador Full Stack. Me especializo, sobre todo, en JavaScript [Angular +2/React/React Native].
            </p>
            <p>Nací y vivo en Buenos Aires, que es donde también me desempeño como developer en la consultora<a
                href="https://www.gylgroup.com/" target="new window"> G&L Group SA.</a></p>
            <p>Presto actualmente servicios de desarrollo y mantenimiento de software (mobile) al Banco ICBC.</p>
            <p>Recientemente lancé mi blog, en donde vas a poder encontrar
              información más precisa sobre mi experiencia en Software.</p>
            <p>Siempre estoy abierto a intercambiar ideas, consejos o propuestas, así que por cualquier inquietud, te
              invito contactarme.</p>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>


<!-- </section> -->
<!-- </section> -->

<!-- ---------------------------------- -->
<!-- 
<div class="experience">

  <h2>Experiencia Profesional</h2>

  <ul class="certif">

    <li>
      <h3>Programador web</h3>
      <p>Coderhouse</p>
      <a href="http://bit.ly/2JZk54E" target="new window" class="certificate">Certificado online
      </a>
    </li>

    <li>
      <h3>Diseñador web</h3>
      <p>Coderhouse</p>
      <a href="http://bit.ly/2IwABNE" target="new window" class="certificate">Certificado online
      </a>
    </li>
    <li>
      <h3>Google Analytics</h3>
      <p>Coderhouse</p>
      <a href="http://bit.ly/2IwzVb4" target="new window" class="certificate">Certificado online
      </a>
    </li>
    <li>
      <h3>Google Adwords</h3>
      <p>Educación IT</p>
      <a href="http://bit.ly/2KCgeLq" target="new window" class="certificate">Certificado online
      </a>
    </li>
    <li>
      <h3>Lic. en Comunicación Social</h3>
      <p>Universidad Nacional de La Plata</p>
    </li>
  </ul>


  <div class="skills-table">

    <h2>Skills</h2>

    <ul>
      <li><img src="assets/icons/skills/005-html-5.png" alt="HTML5" data-toggle="tooltip" data-placement="left"
          title="HTML5">
      </li>
      <li><img src="assets/icons/skills/006-css-3.png" alt="CSS3" data-toggle="tooltip" data-placement="bottom"
          title="CSS3">
      </li>
      <li>
        <img src="assets/icons/skills/icon-bootstrap.png" alt="Bootstrap" data-toggle="tooltip" data-placement="top"
          title="Bootstrap">
      </li>
      <li><img src="assets/icons/skills/008-sass.png" alt="Sass" data-toggle="tooltip" data-placement="right"
          title="Sass">
      </li>

      <li>
        <img src="assets/icons/skills/007-javascript.png" alt="JavaScript" data-toggle="tooltip" data-placement="left"
          title="JavaScript">
      </li>
      <li><img src="assets/icons/skills/007,2-jquery.png" alt="Jquery" data-toggle="tooltip" data-placement="right"
          title="Jquery">
      </li>
      <li>
        <span data-toggle="tooltip" data-placement="right" title="Angular" class="angular ion-logo-angular">
        </span>
      </li>
      <li>
        <span data-toggle="tooltip" data-placement="right" title="Ionic" class="ionic ion-logo-ionic">
        </span>
      </li>

      <li>
        <img src="assets/icons/skills/001-php.png" alt="PHP" data-toggle="tooltip" data-placement="right" title="PHP">
      </li>
      <li>
        <img src="assets/icons/skills/002-mysql.png" alt="MySQL" data-toggle="tooltip" data-placement="right"
          title="MySQL">
      </li>

      <li>
        <img src="assets/icons/skills/ad.png" alt="Google Adwords" data-toggle="tooltip" data-placement="right"
          title="Google Adwords">
      </li>

      <li>
        <img src="assets/icons/skills/009-google-analytics.png" alt="Google Analytics" data-toggle="tooltip"
          data-placement="right" title="Google Analytics">
      </li>
      <li><img src="assets/icons/skills/001-premiere.png" alt="Premiere" data-toggle="tooltip" data-placement="left"
          title="Premiere"></li>
      <li>
        <img src="assets/icons/skills/002-illustrator.png" alt="Ilustrator" data-toggle="tooltip"
          data-placement="bottom" title="Ilustrator">
      </li>
      <li>
        <img src="assets/icons/skills/003-photoshop.png" alt="Photoshop" data-toggle="tooltip" data-placement="bottom"
          title="Photoshop">
      </li>
      <li>
        <img src="assets/icons/skills/004-dreamweaver.png" alt="DreamWeaver" data-toggle="tooltip"
          data-placement="right" title="DreamWeaver">
      </li>
    </ul>
  </div>

</div>

<div class="personalInfo">
  <h2>Sobre mí</h2>
  <p>Desarrollador Front-End. Me especializo, sobre todo, en JavaScript</p>
  <p>Nací y vivo en Buenos Aires, que es donde también me desempeño como developer en <a href="http://ctrlz.com.ar/"
      target="new window">CTRL-Z
      Soft & Design Factory</a></p>
  <p>Trabajé también en el estado, como content manager de la <a href="http://www.sanmartin.gov.ar/">Web
      Institucional del Municipio de San Martín</a></p>
  <p>Muy pronto, en este sitio, podrás encontrar una sección "blog", donde escribiré sobre programación, y nuevas
    tecnologías.</p>

  <p>Siempre estoy abierto a intercambiar ideas, consejos o propuestas, así que por cualquier inquietud, te invito
    a <a href="#contacto">contactarme.</a></p>
  <ul class="personalContact">
    <li>

    </li>
    <li>
      <a href="#">
        <span style="color: white; font-size: 4.0em;" data-toggle="tooltip" data-placement="bottom"
          title="Descargar CV en PDF (LinkedIn)" class="ion-download"></span>
      </a>
    </li>
  </ul>
</div> -->